
.top-container{

    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.middle-container{
    margin: 70px 0;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact{
    width: 40%;
    margin: 40px auto 60px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 3%;
    margin: 100px auto;
}
.computer-img{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.chillies-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
a{
    color: #11999E; 
}
.profile-img{
    border-radius: 100%;
    width: 12%;
    height: 12%;
}

.skills-img{
    border-radius: 100%;
}
h1{
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color:  #66BFBF;
}

h2{
    color:  #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

#programmer{
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.b0ttom-cloud{
    position: absolute;
    left: 300px;
    bottom:250px ;

}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-container{
    background-color:  #66BFBF;
    padding: 50px 0 20px;
    
}

.footer-date{
    padding-top: 20px;
    padding-bottom: 30px;
    color:  #EAF6F6;
}

.footer-link{
    text-decoration: none;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


p {
    line-height: 2;
  }

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #EAF6F6;
  }

  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }